.App {
    font-family: helvetica, sans;
    font-size: 12px;
    padding: 10px 40px;
}
.main {
    color: #111111;
    background-color: #fafafa; 
    width: 880px;
    margin: 0 auto;
}
h1 {
    color: #555555;
    font-size: 1.3em;
    text-align: center;
    border-bottom: solid 2px #6666aa;
}
/** Table scrolls the body with the head staying in place. **/
div.donationTable {
    width: 800px;
    height: 500px;
    border: solid 1px gray;
    overflow: auto;
    margin: 20px 0;
}
.donationTable table {
    border-collapse: collapse;
    width: 100%;
}
.donationTable thead th {
    position: sticky;
    top: 0;
    color: #eeeeee;
    padding: 3px 2px;
    background-color: #445566;    
    border: 0;
}
.donationTable table td {
    font-family: helvetica, sans;
    font-size: 1.1em;
    text-align: right;
    padding: 3px 8px;
}

.none {
    font-style: italic;
    text-align: center;
    padding-top: 100px;
}

button:focus {
    outline: 0;
}
button {
    border: solid 1px gray;
    background-color: #fafafa;
}
button.on {
    color: #ffffff;
    background-color: #666666;
}

.emails {
    width: 300px;
}
.emailsBad {
    color: red;
    width: 300px;
}
